<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>e Varsity</title>
	<meta content="e Varsity" name="description">
	<meta content="Ayush" name="author"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
	<table>
		<tr>
			{{#each header}}
				<th>{{this}}</th>
			{{/each}}
		</tr>
		{{#each subjects}}
			<tr>
				{{#each this}}
					<td>{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</table>
</body>
</html>